
<script src="/login.js" charset="utf-8" defer></script>

<div class="loginStuff">
	<h2>Log In to the Gnome Depot</h2>
	<div class="loginFields">
		username:<input type='text' id='loginUsername'>
		password:<input type='password' encrypt="sha1" id='loginPassword'>

		<button type="button" id='loginAcceptButton'>log in</button>
	</div>

	<h2>New User Sign Up</h2>
	<div class="signupFields">
		username:<input type='text' id='signupUsername'>
		password:<input type='password' encrypt="sha1" id='signupPassword'>

		<button type="button" id='signupAcceptButton'>sign up</button>
	</div>
</div>

