
<script src="/login.js" charset="utf-8" defer></script>

<div class="loginStuff">
	<div class="loginFields">
		<h2>Log In</h2>
		<input type='text' placeholder="Username" id='loginUsername' class="login-child">
		<input type='password' encrypt="sha1" placeholder="Password" id='loginPassword' class="login-child">

		<button type="button" id='loginAcceptButton' class="login-button">log in</button>
	</div>

	
	<div class="signupFields">
		<h2>New User Sign Up</h2>
		<input type='text' id='signupUsername' class="login-child" placeholder="Username">
		<input type='password' encrypt="sha1" placeholder="Password" id='signupPassword' class="login-child">

		<button type="button" id='signupAcceptButton' class="login-button">sign up</button>
	</div>
</div>

