<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>The Gnome Depot</title>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" media="screen">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8"
        defer></script>
    <script src="/gnome-depot-server.js" charset="utf-8" defer></script>
</head>

<body>
    <header>
        <div id="upper-nav" class="">
            <span class="login-trigger">Login</span>
            <div class="login">
                <input type="username" placeholder="Username" autofocus />
                <input type="password" placeholder="Password" />
                <button>
                    <span>log in</span>
                </button>
            </div>
        </div>
        <nav id="navbar">
            <ul id="main-nav">
                <li class="nav-item nav-link">Home</li>
                <li class="nav-item nav-link">Products</li>
            </ul>
            <input class="navbar-search" type="text" name="search" placeholder="Whatcha lookin for?">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
        </nav>
    </header>

    {{{body}}}

</body>

</html>