/*
 * The Gnome Depot opens its port to all shoppers ;)
 *
 * [style.css]
 *
 * THIS PROGRAM IS PROPRIETARY CONTENT OF THE AUTHORS THAT FOLLOW.
 *
 * name:Lyell Read
 * email:readly@oregonstate.edu
 *
 * name:Michael Boly
 * email:bolym@oregonstate.edu
 *
 * name:Scott Richards
 * email:richarsc@oregonstate.edu
 *
 * DO NOT COPY OUR CODE, WRITE YOUR OWN, *******!
 */

:root {
    --maincolor: #f09502;
    --accentcolor: #0508b1;
    --background: #272b33;
    --altbackground: #424958;
}

html,
body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    background: var(--altbackground);
}

a {
    color: black;
    text-decoration: none;
}

a:link,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

/*_____________________nav_____________________*/


header {
    position: fixed;
    width: 100%;
    top: 0;
}

#navbar {
    display: flex;
    font-size: 1.2em;
    text-align: left;
    align-items: center;
    background: var(--background);
}

#navbar::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    height: 15px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20) 0, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0) 100%);
}

#upper-nav {
    display: block;
    /* should we have this on mobile version? */
    z-index: 2;
    text-align: right;
    background-image: linear-gradient(90deg,
            var(--accentcolor),
            var(--maincolor));
    width: 100%;
    padding: 0.4em 0 0.4em 0;
}

#upper-nav a,
#upper-nav span {
    color: white;
    padding: 0px 15px;
    cursor: pointer;
}

#upper-nav a:hover,
#upper-nav span:hover {
    color: var(--accentcolor);
    cursor: pointer;
}

.login {
    position: absolute;
    height: 0;
    border-radius: 1%;
    background-color: white;
}

.login-trigger:hover .login,
.login:hover {
    display: block;
}

/* hidden till implementation */
.login {
    display: none
}

#main-nav {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 3px 0 3px 20px;
    flex-wrap: nowrap;
}

.nav-link {
    color: white;
    padding: 10px;
    display: inline-block;
}

.nav-link:hover {
    margin-bottom: -2px;
    border-bottom: 2px solid var(--maincolor);
}

.item-hover-state {
    display: inline-block;
}
.navbar-search {
    justify-self: flex-end;
    margin-right: 20px;
    padding: 0;
}
#navbar-search-button {
    margin-left: -5px;
    font-size: 16px;
    background: none;
    border: none;
    color: #343434;
    cursor: pointer;
  }
  
  #navbar-search-button:hover {
    color: #319df6;
  }
  
  #navbar-search-button:focus {
    color: #319df6;
    outline: none;
  }

#main-nav a,
#main-nav span {
    color: white;
    text-align: left;
    cursor: pointer;
}

#main-nav span a:hover {
    border: none;
}

/*_____________________/nav_____________________*/

/*_____________________home_____________________*/
.banner-container {
    display: flex;
    justify-content: center;
}
.banner {
   margin: 90px 0;
    width: 1280px;

}

/*____________________/home_____________________*/